@use "fonts";
// Font Family
$Poppins: "Poppins", sans-serif;
$Nunito: "Nunito", sans-serif;
//body font
$body-font: $Nunito;
//heading font
$heading-font: $Poppins;
//color
$white: #fff;
$red: #c50101;
$body-color: #6e7f89;
$heading-color: #000;
$black: #000;
$theme-color: #788da3;
$prymary: #266bf9;
$secondary: #f2f6f9;
$logo-secondary-color: #8a8a8a;
// Transition
$baseTransition: all 0.3s ease 0s;

// Responsive Variables
$extraBig-device: "only screen and (min-width: 1600px)";
$laptop-device: "only screen and (min-width: 1200px) and (max-width: 1599px)";
$desktop-device: "only screen and (min-width: 992px) and (max-width: 1199px)";
$tablet-device: "only screen and (min-width: 768px) and (max-width: 991px)";
$large-mobile: "only screen and (max-width: 767px)";
$small-mobile: "only screen and (max-width: 575px)";
$extra-small-mobile: "only screen and (max-width: 479px)";